{% extends 'base.html' %}

{% block content %}
    <header>
        <h2>Reset Your Password - Custom View</h2>
    </header>
    {% if validlink %}
        <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Reset Password" class="btn btn-success">
        </form>
    {% else %}
        <div>
            <p>The password reset link is invalid. This may be because it has already been used. Please request a new password reset.</p>
        </div>
    {% endif %}
{% endblock content %}